manifest {
    mainScript = "main.nf"
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

params {

    // --- INPUTS
    samplesheet = ''
    
    outdir = "motus_pipeline_results"
    publish_dir_mode = 'copy'
    singularity_cachedir = "singularity_cache"
    reads_cache_path = "reads"

    // --- DBS
    databases {
        cache_path = "nextflow-autodownload-databases"   // db download destination
        download_ftp_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipeline-5.0/ref-dbs'
        motus {
            name = 'db_mOTU'
            remote_path = "${params.databases.download_ftp_path}/db_mOTU_v3.0.1.tar.gz"
            md5_path = ''  // "${databases.download_ftp_path}/db_mOTU_v3.0.1.tar.gz.md5"
            local_path = ''
        }
        host_genome {
            name = 'hg38'
            remote_path = "${params.databases.download_ftp_path}/hg38.tar.gz"
            md5_path = ''  // "${download_ftp_path}/hg38.tar.gz.md5"
            local_path = ''
            files {
                genome = 'hg38.fa'
                bwa_index_prefix = 'hg38.fa'
            }
        }
        rfam {
            name = 'rfam_models'
            remote_path = "${params.databases.download_ftp_path}/rfam_models.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/rfam_models.tar.gz.md5"
            local_path = ''
            files {
                ribosomal_models_folder = 'ribosomal_models'
                ribosomal_models_file = 'ribosomal_models/ribo.cm'
                ribosomal_claninfo_file = 'ribosomal_models/ribo.claninfo'
                other_models_folder = 'other_models'
                other_models_file = 'other_models/other.cm'
                other_claninfo_file = 'other_models/other.claninfo'
            }
        }
        silva_ssu {
            name = 'silva_ssu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_ssu-20200130.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/silva_ssu-20200130.tar.gz.md5"
            local_path = ''
            files {
                fasta = "SSU.fasta"
                tax = "slv_ssu_filtered2.txt"
                otu = "ssu2.otu"
                mscluster = 'SSU.fasta.mscluster'
            }
            variables {
                label = 'SSU'
            }
        }
        silva_lsu {
            name = 'silva_lsu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_lsu-20200130.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/silva_lsu-20200130.tar.gz.md5"
            local_path = ''
            files {
                fasta = "LSU.fasta"
                tax = "slv_lsu_filtered2.txt"
                otu = "lsu2.otu"
                mscluster = "LSU.fasta.mscluster"
            }
            variables {
                label = 'LSU'
            }
        }
    } 

    // -- reads qc subwf args
    qc_params {
        filter_amplicon = false
        save_merged = true
    }
    // --- fastp filtering ---
    fastp_params {
        length_filter = 10
        polya_trim = 10
        qualified_quality_phred = 15
        unqualified_percent_limit = 10
    }
}

profiles {

    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow_queue'
        }

        aws {
            batch {
                // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                maxParallelTransfers = 2
                maxTransferAttempts = 2
            }
            region = 'eu-west-1'
        }

        workDir = 's3://mgnify-nf/nextflow_env'

        includeConfig 'config/aws.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    ebi_no_db {
        params {
            outdir = "motus_pipeline_results"
            databases = "nextflow-autodownload-databases"

            sample_name = ""
            single_end = ""
            paired_end_forward = ""
            paired_end_reverse = ""
            mode = ""

            workdir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/motus-pipeline"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
        }
        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
        includeConfig 'config/codon.config'
    }

    ebi {
        includeConfig "config/codon.config"
        params {
            outdir = "motus_pipeline_results"
            databases = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/"

            sample_name = ""
            single_end = ""
            paired_end_forward = ""
            paired_end_reverse = ""
            mode = ""

            workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/motus_pipeline"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"

            reference_genome = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2/'
            reference_genome_name = 'hg38.fa'

            motus_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/mOTUs/db_mOTU_v3.0.1/db_mOTU"

            ssu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_ssu/"
            lsu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_lsu/"

            rfam_ribo_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.cm"
            rfam_other_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/*.cm"
            rfam_ribo_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.claninfo"
            rfam_other_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/other.claninfo"
        }
        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }

    local {
         docker {
            enabled = true
            autoMounts = true
            fixOwnership = true
        }
        executor {
            name = "local"
            cpus = 2
        }

        includeConfig 'config/local.config'
    }

    codon_interactive {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
        executor {
            name = "local"
            cpus = 1
        }

        includeConfig 'config/codon_interactive.config'
    }
}
